html,
body {
    background-color: #9DC08B;
    margin: auto;
    font-size: 18px;
}

h4 {
    font-size: 1.5rem;;
    letter-spacing: 1px;;
}
h5 {
    margin-top: -1px;
    margin-top: 12px;
    margin-bottom: -1px;
}

.header {
    background-color: #40513B;
    color: white;
    height:6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    margin-left: 8rem;
    
}

.header-right {
    margin-right: 3rem;
    height: 75%;
}
.created-by {
    font-size: 13px;
}

.created-by a {
    color: white;
}

#logo {
    position:fixed;
    margin-left: 12px;
    margin-top: 6px;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-image: url(images/earth.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 96px;
    max-height: 96px;
}

.main-container {
    height: 42rem;
    max-height: 100rem;
    padding: 1%;
}

.content {
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    height: auto;
}

.book-entry {
    background-color: #609966;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 1rem;
    gap: 1rem;
    margin-left: 2%;
}

.input {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    border-radius: 15px;
    border: none;
    background-color: #dce6d6;
}
.button:hover {
    background-color:#c5d3bb;
}

.book-display {
    background-color: #609966;
    border: 1px solid black;
    border-radius: 15px;
    width: 65%;
    max-width: 65%;
    max-height: 100%;
    margin-right: 25%;
    padding: 1rem;
    padding-top: 0rem;
    font-size: 0.95rem;
}


.book-table {
    width: 100%;
    background-color: #9DC08B;
    border-radius: 15px;;
}

tr {}

.table-category {
    background-color: darkgrey;
    border-radius: 10px;
}

.book-line {
    max-height: 75%;
}

.book-check {

    margin-left: 42%;
    max-height: 10%;
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}